/* -------------------------
HEADER STYLES
------------------------- */

.form-elements {
    form {

        input {

            padding: 2rem;

        }

    }
}

.news__info {

    &__wrapper {
        background-color: $theme-color-default;
        padding: 5rem 5rem 2rem;
        margin: 2rem 0;

        &--date {
            margin: 0;
            font-size: $theme-font-size * 1;
            font-weight: 300;
            font-style: italic;
        }

        &--title {
            margin: 0;
            font-weight: 700;
        }

        &--url {

            display: block;
            font-size: $theme-font-size * .8;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #EEE;

        }

    }

}